# Токен бота от @BotFather
BOT_TOKEN=

# Секретный токен для защиты /api/cron (придумай сам, например UUID)
CRON_SECRET_TOKEN=

# Chat ID пользователей через запятую (узнать через команду /start)
ALLOWED_CHAT_IDS=123456789,987654321

# Твой часовой пояс (список: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TIMEZONE=Asia/Almaty
